name: dbt + datafold

on:
  push:
    branches:
      - master
  pull_request:
  schedule: # Run the pipeline every night
    - cron: '0 0 * * *'

jobs:
  run:
    runs-on: ubuntu-20.04
    timeout-minutes: 15

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: install dbt
        run: pip install -q dbt datafold-sdk==0.0.5

      - name: dbt deps
        run: dbt deps

      - name: compile prod artifacts
        run: |
          set -x
          git fetch
          HEAD=$(git rev-parse HEAD)
          PR_HEAD=$(cat $GITHUB_EVENT_PATH | jq -r .pull_request.head.sha)
          MERGE_BASE=$(git merge-base $PR_HEAD origin/master)
          echo "head: $HEAD"
          echo "head: $PR_HEAD"
          echo "merge base: $MERGE_BASE"
          git checkout $MERGE_BASE
          git rev-parse
          dbt compile --profiles-dir .
          mv target target_prod
          git checkout $HEAD
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_SCHEMA: "${{ github.ref == 'refs/heads/master' && 'BEERS' || 'BEERS_DEV' }}"

      - name: dbt seed
        run: dbt seed --profiles-dir ./ --state target_prod --select state:modified+
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_SCHEMA: "${{ github.ref == 'refs/heads/master' && 'BEERS' || 'BEERS_DEV' }}"

      - name: dbt run
        run: dbt run --profiles-dir ./ --state target_prod --defer --select state:modified+
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_SCHEMA: "${{ github.ref == 'refs/heads/master' && 'BEERS' || 'BEERS_DEV' }}"

      - name: dbt test
        run: dbt test --profiles-dir ./ --state target_prod --defer --select state:modified+
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_SCHEMA: "${{ github.ref == 'refs/heads/master' && 'BEERS' || 'BEERS_DEV' }}"

      - name: submit artifacts to datafold
        run: |
          set -ex
          datafold dbt upload-and-wait --ci-config-id 29 --run-type ${DATAFOLD_RUN_TYPE} --target-folder ./target/ --commit-sha ${GIT_SHA}
        env:
          DATAFOLD_APIKEY: ${{ secrets.DATAFOLD_APIKEY }}
          DATAFOLD_RUN_TYPE: "${{ github.ref == 'refs/heads/master' && 'production' || 'pull_request' }}"
          GIT_SHA: "${{ github.ref == 'refs/heads/master' && github.sha || github.event.pull_request.head.sha }}"
